.header__logo {
  @extend %logo, %link;
  margin-right: 93px;
  margin-left: 0;

  &--acent {
    color: var(--logo-second-color);
  }
}

.footer__logo {
  @extend %logo, %link;

  &--accent {
    color: var(--logo-footer-color);
  }
}
